

.box{
    padding:2%;
    margin:10%;
    background-color: white;
    border:black solid 1px;
}


/* <div className='justify-content-around'>
<div className="row text-center p-3 " >
  <div className='col-6 bg-success'>1</div>
  <div className='col-6 bg-warning'>2</div>
</div>
<div className='row text-center p-3 '>
<div className='col-6 bg-warning'>3</div>
  <div className='col-6 bg-success'>4</div>
</div>
</div> */